# shellcheck shell=sh

TIMEZONE="Europe/Moscow"
SET_HOSTNAME=""
ADMIN_USER="admin"
ADMIN_PASSWORD=""
ADMIN_PUBKEY=""
ENABLE_PASSWORDLESS_SUDO="true"
SSH_PORT="22"

ENABLE_UFW="true"
UFW_DEFAULT_INCOMING="deny"
UFW_DEFAULT_OUTGOING="allow"
EXTRA_TCP_PORTS="80,443"
EXTRA_UDP_PORTS=""

ENABLE_FAIL2BAN="true"
ENABLE_UNATTENDED_UPGRADES="true"
ENABLE_DOCKER="true"
ENABLE_SWAPFILE="false"
SWAPFILE_SIZE_GB="2"
INSTALL_EXTRA_PACKAGES="true"
